:root {
  --heading-color: rgba(80, 143, 152, 1);
  --heading-font-family: "westgate", sans-serif;
  --section-color: rgb(247, 245, 232, 1);
  --section-font-family: "calling-code", sans-serif;
  --gold-gradient-light: linear-gradient(100deg, rgba(203,155,81,1) 0%, rgba(246,226,122,1) 45%, rgba(246,242,192,1) 50%, rgba(246,226,122,1) 55%, rgba(203,155,81,1) 100%);
  --gold-gradient-heavy: linear-gradient(100deg, rgba(70,37,35,1) 25%, rgba(203,155,81,1) 40%, rgba(246,226,122,1) 45%, rgba(246,242,192,1) 50%, rgba(246,226,122,1) 55%, rgba(203,155,81,1) 60%, rgba(70,37,35,1) 75%);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-image: url('/assets/GREEN_BACKGROUND_small.png');
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
    }

  }