@import url("https://use.typekit.net/tue5jzx.css");

.main p {
    font-family: var(--section-font-family);
    font-weight: 400;
    font-style: normal;
    color: var(--section-color);
}

.main h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    background: var(--heading-color);
    color:transparent;
    background-clip:text;
    word-wrap: break-word;
}

.gallery img {
    border-radius: 5px;
}

.gallery {
    margin: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
}

.header h2 {
    background: var(--gold-gradient-light);
    color: transparent;
    background-clip: text;
}

.buttons button {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    border: #fff 1px solid;
    margin: 10px;
}

.buttons button:hover  {
    background-color: #fff;
    color: black;
    /* color: var(--heading-color); */
}

.slider {
    width: 80%;
    margin: auto;
}

.sliderImage {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.sliderImage img {
    max-width: max-content;
    width: 70vw;
    align-self: center;
    border-radius: 15px;
}

.gender {
    cursor: pointer !important;
}

p.gender a:hover {
    color: red !important;
}

@media only screen and (max-width: 600px) {
    .header h2 {
    font-size: 4rem !important;
    text-align: center;
    }
}