@import url("https://use.typekit.net/tue5jzx.css");

.main p {
    font-family: var(--section-font-family);
    font-weight: 400;
    font-style: normal;
    color: var(--section-color);
}

.main h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    background: var(--heading-color);
    color:transparent;
    background-clip:text;
    word-wrap: break-word;
}

.gallery img {
    border-radius: 5px;
}

.gallery {
    margin: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
}

.header h2 {
    background: var(--gold-gradient-light);
    color: transparent;
    background-clip: text;
}

.header p {
    text-align: center;
}

.buttons {
    margin: 10px 0;
}

.buttons button, .gender button {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    border: #fff 1px solid;
    margin: 10px;
}

.buttons button:hover, .gender button:hover {
    background-color: #fff;
    color: black;
    /* color: var(--heading-color); */
}

.sliderDiv {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 70%;
    margin: 5vh auto;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: auto;
}

.sliderImage {
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
    height: 60vh;
}

.sliderImage img {
    max-height: 100%;
    width: 60vw;
    align-self: center;
    border-radius: 15px;
    object-fit: contain;
    justify-content: center;
}

.gender {
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .header h2 {
    font-size: 4rem !important;
    text-align: center;
    }

    .slider {
        align-items: flex-start;
        width: 18vw;
    }

    .sliderImage {
        margin: 0 auto;
        align-items: center;
        height: 70vh;
    }

    .sliderImage img {
        width: 60vw;
    }

}