@import url("https://use.typekit.net/tue5jzx.css");

.main p {
    font-family: calling-code, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(247, 245, 232);
}

.main h2 {
    font-family: westgate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    background: linear-gradient(
        90deg,
        #cb9b51 0%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 100%
        );
       color:transparent;
       background-clip:text;
}

.gallery img {
    border-radius: 5px;
    /* border: 1px #e6bd71 solid; */
}

.gallery {
    margin: 50px;
}

.header {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
}